<div class="question">
  <%= f.label :content, "Question" %>
  <%= f.text_field :content, class: 'question_content' %><br>
  <%= f.check_box :_destroy, class: 'remove_question' %>
  <%= f.label :_destroy, "Remove Question" %>
  <ul>
    <%= f.fields_for :answers do |builder| %>
      <%= render 'answers/answer_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Answer", f, :answers %>
  </ul>
</div>
